{% extends 'base.html.twig' %}

{% block title %}Joueur{% endblock %}

{% block body %}
    <h1>Joueur</h1>
{#{% set progression = joueur.getLastProgression %}#}
    <table class="table">
        <tbody>
{#            <tr>#}
{#                <th>Id</th>#}
{#                <td>{{ joueur.id }}</td>#}
{#            </tr>#}
            <tr>
                <th>Nom</th>
                <td>{{ joueur.nom }}</td>
            </tr>
            <tr>
                <th>Niveau</th>
                <td>{{ joueur.niveau }}</td>
            </tr>
            <tr>
                <th>Puissance</th>
                <td>{{ joueur.puissance }}</td>
            </tr>
        </tbody>
    </table>

    <table class="table">
        <thead>
            <tr>
                <td>Date</td>
                <td>Tank</td>
                <td>Avion</td>
                <td>Missile</td>
            </tr>
        </thead>
        <tbody>
        {% for progression in joueur.progressions|reverse  %}
            <tr>
                <td>{{ progression.dateProgression |date("d/m/y") }}</td>
                <td>{{ progression.PCTank }}</td>
                <td>{{ progression.PCAvion }}</td>
                <td>{{ progression.PCMissile }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>



    {% if is_granted('ROLE_OFFICIER') %}
        <a href="{{ path('app_joueur_index') }}" class="btn btn-primary">Retour à la liste</a>
        {{ include('joueur/_delete_form.html.twig') }}
    {% endif %}
{% endblock %}
