{% extends 'base.html.twig' %}

{% block title %}Joueur{% endblock %}

{% block body %}
    <h1>Joueur</h1>

    <table class="table">
        <tbody>
{#            <tr>#}
{#                <th>Id</th>#}
{#                <td>{{ joueur.id }}</td>#}
{#            </tr>#}
            <tr>
                <th>Nom</th>
                <td>{{ joueur.nom }}</td>
            </tr>
            <tr>
                <th>Niveau</th>
                <td>{{ joueur.niveau }}</td>
            </tr>
            <tr>
                <th>Puissance</th>
                <td>{{ joueur.puissance }}</td>
            </tr>
            <tr>
                <th>PC_equipe1</th>
                <td>{{ joueur.PCEquipe1 }}</td>
            </tr>
            <tr>
                <th>PC_equipe2</th>
                <td>{{ joueur.PCEquipe2 }}</td>
            </tr>
            <tr>
                <th>PC_equipe3</th>
                <td>{{ joueur.PCEquipe3 }}</td>
            </tr>
            <tr>
                <th>PC_equipe4</th>
                <td>{{ joueur.PCEquipe4 }}</td>
            </tr>
            <tr>
                <th>Résistance</th>
                <td>{{ joueur.resistance }}</td>
            </tr>
        </tbody>
    </table>



    <a href="{{ path('app_joueur_edit', {'id': joueur.id}) }}" class="btn btn-warning">Modifier</a>
    {% if is_granted('ROLE_OFFICIER') %}
        <a href="{{ path('app_joueur_index') }}" class="btn btn-primary">Retour à la liste</a>
        {{ include('joueur/_delete_form.html.twig') }}
    {% endif %}
{% endblock %}
