{{ form_start(form,{'attr': {'id': 'form_position_ajout'}}) }}
{#    {{ form_widget(form) }}#}
    {{ form_errors(form) }}
    <div class="row">
        <div class="col">
            {{ form_row(form.posX) }}
            {{ form_row(form.posY) }}
            {{ form_row(form.alliance) }}
        </div>
        <div class="col">
            {{ form_rest(form) }}
            <button class="btn btn-xs btn-success">{{ button_label|default('ajout') }}</button>
        </div>
    </div>


{{ form_end(form) }}
