{% extends 'base.html.twig' %}

{% block title %}Alliance index{% endblock %}

{% block body %}
    <h1>Alliance index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Couleur</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for alliance in alliances %}
            <tr>
                <td>{{ alliance.id }}</td>
                <td>#{{ alliance.serveur }} - {{ alliance.nom }}</td>
                <td>{{ alliance.couleur }}</td>
                <td>
                    <a href="{{ path('app_alliance_show', {'id': alliance.id}) }}">show</a>
                    <a href="{{ path('app_alliance_edit', {'id': alliance.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_alliance_new') }}">Create new</a>
{% endblock %}
